body {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

nav .navbar-nav #btn-signin {
  background-color: #BEF1E7;
  color: #2DC196;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 20px;
  border-radius: 50px;
}

nav .navbar-nav #btn-signin:hover {
  background-color: #2DC196;
  color: #FFFFFF;
}

.navbar-nav .form-control {
  width: 300px;
  border-radius: 10px;
  border-color: #BEF1E7;
}

.hero {
  padding: 150px;
}

.hero h1 {
  padding-top: 100px;
  padding-bottom: 10px;
  line-height: 3.5rem;
  font-weight: 800;
}

.hero p {
  padding-bottom: 30px;
  line-height: 2rem;
}

.hero img {
  width: 130%;
}

.hero .btn-started {
  background-color: #2DC196;
  color: #FFFFFF;
  padding: 13px 40px;
  border-radius: 50px;
  text-decoration: none;
}

.hero .btn-started:hover {
  background-color: #BEF1E7;
  color: #2DC196;
}

.hero .btn-join {
  background-color: #6D4EFA;
  color: #FFFFFF;
  padding: 13px 48px;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 10px;
}

.hero .btn-join:hover {
  background-color: transparent;
  border: 1px solid #6D4EFA;
  color: #6D4EFA;
}

.popular-course {
  margin-bottom: -40px;
}

.popular-course h3 {
  font-weight: 700;
}

.popular-course-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.popular-course-content .popular-course-1 {
  border: 1px solid #BEF1E7;
  border-radius: 4px;
  margin: 8px;
  height: 320px;
}

.popular-course .course-title {
  font-weight: 500;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.popular-course .course-description {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 30px 20px 0px 20px;
  font-size: 15px;
  color: #777777;
}

.popular-course .more-catalog {
  background-color: #2DC196;
  color: #BEF1E7;
  padding: 15px 50px;
  border-radius: 50px;
  text-decoration: none;
}

.popular-course .more-catalog:hover {
  background-color: transparent;
  border: 1px solid #2DC196;
  color: #2DC196;
}

.benefits {
  background-color: #F4F8FB;
}

.benefits-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.benefits-content .benefits-title {
  font-size: 18px;
  font-weight: 700;
}

.benefits-content .benefits-content {
  font-size: 18px;
  font-weight: 700;
}

.benefits .benefits-section-title {
  margin-top: 150px;
}

.benefits .benefits-section-title h3 {
  font-size: 28px;
  font-weight: 700;
  padding-top: 80px;
}

.benefits .benefits-1 {
  border: 1px solid #2DC196;
  border-radius: 4px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 20px 20px 20px 20px;
}

.benefits .benefits-description {
  color: #555555;
}

.other-benefits h3 {
  padding: 70px 0px 10px 0px;
}

.testimoni {
  margin-top: 50px;
  background-image: 
    /* top, transparent red */
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* your image */
    url(/assets/pexels-photo-1438072.jpeg);
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  padding: 80px 0px 50px;
}

.testimoni img {
  display: flex;
  flex: 1;
  width: 50%;
  border-radius: 50px 50px 50px 0px;
}

.testimoni .testimoni-name {
  font-size: 22px;
  font-weight: 600;
}

.testimoni .testimoni-position {
  font-size: 16px;
  margin-top: -15px;
}

footer {
  background-color: #0e2f44;
  color: #FFFFFF;
  height: 300px;
  padding-top: 80px;
}

footer .footer-menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

footer .footer-menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

footer .footer-menu a:hover {
  color: #2DC196;
}

footer .footer-social-media {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

footer .footer-social-media a {
  padding-left: 20px;
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
}

footer .footer-social-media a:hover {
  color: #2DC196;
}

footer .copyright {
  display: flex;
  flex: 1;
  justify-content: center;
}

footer .copyright p {
  font-size: 14px;
  color: #999999;
}